*.swp
*.swo
*.a
*.o
*.d
*.bin
*.out

# dev branch
test/
# specific test files / folders
main.c
test.c
tests
test/test_printf/test_float/test_float/
test/test_printf/test_float/test_float_hexa/
test/test_printf/test_float/test_float_limits/
test/test_printf/test_float/test_float_subnormal/
test/test_printf/test_float_hexa/
test/test_printf/test_int/
test/test_printf/test_ptr_percent/
test/test_printf/test_str_char/

# specific test makefiles
test/test_printf/makefiles/makefile_float.mk
test/test_printf/makefiles/makefile_float_hexa.mk
test/test_printf/makefiles/makefile_float_limits.mk
test/test_printf/makefiles/makefile_float_subnormal.mk
test/test_printf/makefiles/makefile_ptr_percent.mk
test/test_printf/makefiles/makefile_str_char.mk
